* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo {
  width: 7%;
  height: 7%;
}
.profile_img{
  width: 100%;
  object-fit: contain;
}
.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: contain;
}
.adminImage {
  width: 100px;
  object-fit: contain;
}
.cart-image {
  width: 80px;
  height: 80px;
  object-fit: contain;
}
.product_img{
  width: 100px;
  object-fit: contain;
}
.footer {
  position: absolute;
  bottom: 0;
}
